<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include("./partials/head.ejs") %>
  <title>Home | Clear Write</title>
  <style>
    .card-img-top {
      height: 150px;
      object-fit: cover;
    }
    body {
      background-color: rgb(240, 240, 240);
    }
    @media (max-width: 767px) {
      .card {
        width: 100%;
      }
    }
  </style>
</head>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="container mt-3">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
      <% allBlogs.forEach(blog => { %>
        <div class="col mb-3">
          <div class="card">
            <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="coverImage">
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <p class="card-text"><%= blog.description %></p>
              <a href="blog/view/<%= blog._id %>" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  <%- include("./partials/footer.ejs") %>
  <%- include("./partials/scripts.ejs") %>
</body>
</html>